<head>
    <meta charset="UTF-8">
    <title>Latynka</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://bootstrap-4.ru/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');

        body {
            font-family: 'Unbounded', cursive;
        }

        #switcher:hover {
            cursor: pointer;
        }
    </style>
</head>