<%- include('../partials/head.ejs') -%>
    <%- include('../partials/header.ejs') -%>

        <body class="d-flex flex-column min-vh-100"><%- body -%></section>
                <%- include('../partials/footer.ejs') -%>